<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>YelpCamp T&C</title>
    <meta name="author" content="Xmartlabs" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body id="terms-and-conditions">
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row terms-and-conditions-section">
        <div class="col-xs-12 text-center">
          <h1 class="title">Terms and Conditions</h1>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="content">
            <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat culpa reprehenderit architecto cumque repudiandae rem tempore voluptatem, aliquam nulla error impedit perspiciatis soluta, quae dolore esse perferendis, similique repellendus explicabo!
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ullam reprehenderit repudiandae veniam illo eaque vero hic voluptatibus. Eligendi harum aut tempora animi, illo impedit dolorem fuga id optio nulla!
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quod, odit, placeat unde quos in quia accusantium mollitia ipsam ducimus iusto corrupti neque doloremque, praesentium voluptatibus ea repudiandae quis voluptatum?
            </p>
            <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. A doloremque velit explicabo sit iusto optio voluptate repudiandae possimus ipsum. Totam iste voluptates libero dicta omnis quia deserunt perferendis. Doloribus, suscipit?
            </p>

            <h2 class="section-title">1. Use of YelpCamp</h2>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore vel culpa maiores cupiditate, eligendi vero soluta temporibus suscipit at, totam quo nulla aspernatur voluptates ex corrupti. Dolore, voluptates illum?
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor commodi officia eligendi quia provident corporis placeat iure, ipsum doloribus pariatur fugit odit quaerat temporibus nemo, culpa est libero, voluptatem eum.
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam blanditiis qui maxime officia facere dolore delectus itaque labore ut, optio, expedita at explicabo unde numquam earum aut et mollitia architecto.
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo laborum modi maiores, enim molestias, mollitia ab qui voluptatibus autem id commodi nulla, sit magnam aut molestiae rem iure pariatur dolorem!
            </p>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio omnis numquam minima laborum eius. Fugiat quos laudantium doloribus hic aliquam iure libero eveniet porro laborum alias, ullam nisi, ex earum.
            </p>
            <p>
            Lorem ipsum dolor sit amet.
            </p>
            <ul>
              <li>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sunt dolor minus praesentium? Delectus, error sint. Fugiat optio, nobis sunt, fuga ipsam enim praesentium nisi, quis quaerat pariatur deserunt incidunt.
              </li>
              <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint fugit alias quam, perferendis quia recusandae ipsum harum deleniti architecto placeat dolorum, laboriosam earum et libero pariatur? Sed nam iure in.
              </li>
              <li>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit omnis veniam repellendus autem, id neque natus molestias! Omnis, nam. Fugit sunt delectus molestiae commodi ea quaerat, aliquam libero a odio!
              </li>
              <li>
             Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic error accusantium nihil dolor asperiores. Voluptatem possimus asperiores nobis, dicta quae nesciunt soluta quidem minus impedit vero, natus vitae repellendus odit!
              </li>
            </ul>

            <h2 class="section-title">2. Cancellation and Termination</h2>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae delectus voluptate natus cumque vitae perspiciatis nemo officiis consequuntur reiciendis incidunt consequatur ducimus corporis soluta porro unde autem eum saepe accusantium cupiditate nihil numquam, deserunt, quibusdam est! Optio quidem temporibus rem, rerum reiciendis doloremque, ex quos at numquam corrupti tenetur incidunt.
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur fuga itaque reiciendis voluptates tempore, quibusdam at non soluta nemo quidem! Corrupti eligendi facilis, sequi quia modi alias eveniet consectetur cupiditate sint doloribus reiciendis fugiat excepturi voluptatibus ipsum vero quibusdam odit optio obcaecati inventore eaque. Vel tempore, eum exercitationem, minima magni sint saepe beatae error sequi, dolore itaque voluptates perspiciatis aspernatur.
            </p>

            <h2 class="section-title">3. Customer Data</h2>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nihil earum consequatur quis. Laudantium quis commodi id vitae, ipsum nostrum earum, autem ullam fugiat hic quidem consequuntur facilis veniam architecto iure mollitia dignissimos repellendus perferendis aut omnis voluptate? Provident error culpa officia illo animi, quae vero nostrum itaque laudantium excepturi.
            </p>
            <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, odit accusantium recusandae unde nam autem fugit commodi consequuntur temporibus doloribus ab nobis reiciendis expedita vero debitis tempora quos rerum nostrum dolor, quis dolorum vitae ipsam et! Quod totam officia temporibus!
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolorum expedita porro libero possimus, asperiores quia maiores, debitis quasi aut et deserunt? Fuga neque temporibus ipsam cumque nesciunt ad harum, sapiente distinctio aperiam beatae exercitationem nisi omnis quaerat provident eos.
            </p>

            <h2 class="section-title">4. Ideas and Feedback</h2>
            <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam harum labore eius? Odio culpa, adipisci a velit minus at quod. Dicta delectus numquam, iure facilis nemo itaque eum veritatis dolorem error modi quod dolores, esse nam nulla dolor eos debitis amet molestias. Amet, inventore? Amet eum similique, corporis beatae et, fugiat animi, voluptatibus explicabo alias non ipsam voluptatum unde?
            </p>

            <h2 class="section-title">5. External Sites and Content</h2>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam corrupti. Neque ipsam minus enim quasi nesciunt ut, similique et corrupti nobis modi debitis? Omnis cumque repellendus nihil tempore? Quas voluptate atque totam doloribus suscipit veniam itaque, exercitationem cupiditate optio iste facere sapiente quibusdam est tempora quis illum esse eveniet aliquid amet assumenda facilis doloremque tenetur! Nisi doloribus totam quos maxime natus. Repudiandae, debitis praesentium? Odio exercitationem quo nisi nostrum!
            </p>

            <h2 class="section-title">6. License and Restrictions</h2>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempore iure laboriosam omnis veritatis ipsa repudiandae. Itaque nisi excepturi eius sunt deserunt, fuga fugiat accusantium at veritatis exercitationem consectetur distinctio dolores perferendis repellendus perspiciatis corrupti soluta magnam autem tempore cupiditate officia quibusdam quasi voluptatum aperiam! Nesciunt odio consequatur voluptatem exercitationem.
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque ab at, perferendis accusantium dicta fugiat impedit exercitationem possimus. Corporis, optio! Doloremque aliquam vel suscipit officiis beatae minima sapiente voluptatem? Doloremque vel ad provident repudiandae temporibus iusto possimus? Possimus nesciunt at, rerum placeat voluptate nisi error nam nostrum laudantium debitis nobis animi, officiis tenetur quos assumenda cupiditate quisquam veritatis impedit atque vitae maxime facere. Velit magni itaque magnam perferendis vitae deleniti?
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deserunt quidem quos quasi, dignissimos modi magnam consequuntur! Praesentium et aut veniam accusamus modi mollitia reiciendis a laboriosam est ipsum? Explicabo!
            </p>
            <ul>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem ipsa illo necessitatibus recusandae praesentium, molestias dolorum adipisci suscipit pariatur quos.
              </li>
              <li>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet sit odio, ducimus dolorum eveniet quidem omnis non molestiae libero accusantium velit eum corrupti asperiores fugiat numquam eius maiores expedita.
              </li>
              <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis maiores excepturi quibusdam, culpa ullam molestiae expedita consequatur natus et quod cupiditate labore minima eligendi autem dolor doloremque temporibus magnam velit.
              </li>
              <li>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto reiciendis fugiat deserunt earum fugit dolore aliquid quia tempora. Incidunt molestias nisi possimus, quo autem non illo quaerat eaque voluptates ipsa.
              </li>
              <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate officiis placeat, labore eaque consectetur necessitatibus a in minima ex totam architecto recusandae quae corporis! Ad soluta veritatis possimus natus reiciendis.
              </li>
              <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolores cumque perspiciatis. Voluptate dolorum dolorem nesciunt quasi est ullam distinctio, explicabo, tempora amet mollitia laborum molestiae atque eum consequuntur nulla.
              </li>
              <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga asperiores, alias maxime laboriosam aspernatur nisi velit? Hic, dicta! Deserunt excepturi illum quos reiciendis laborum sapiente est, nesciunt explicabo sit at?
              </li>
              <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nihil dignissimos a fugit necessitatibus et quasi adipisci tempore at modi.
              </li>
              <li>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, facere.
              </li>
              <li>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, culpa.
              </li>
              <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, provident repellat. Odio, magnam? Aperiam ducimus beatae mollitia fuga magni tempora!
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ex illo, eveniet pariatur ipsum at perspiciatis saepe nihil quo dolor?
              </li>
              <li>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet voluptas culpa quisquam pariatur magni reprehenderit, molestias illo maxime adipisci ea?
              </li>
            </ul>

            <h2 class="section-title">7. Monitoring of Content</h2>
            <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem autem fuga dolores earum eos perferendis doloribus nam ipsam eius, culpa vitae dolorum animi ab at corporis eum, ipsa maiores id!
            </p>
            <ul>
              <li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, voluptas. Facere quasi reprehenderit vero, quis dolore quisquam ipsa illo inventore a ullam? Ducimus, fugiat? Sint placeat fugiat dolorem esse aliquam!
              </li>
              <li>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, cum.
              </li>
              <li>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, quo.
              </li>
              <li>
              Lorem ipsum dolor sit amet.
              </li>
              <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, officiis.
              </li>
              <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, ipsum.
              </li>
              <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores assumenda in excepturi necessitatibus reiciendis corporis ducimus repudiandae fugiat. Exercitationem!
              </li>
            </ul>

            <h2 class="section-title">8. Our Copyright Dispute Policy</h2>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem in iusto aspernatur rem. Odio, soluta mollitia officia impedit commodi temporibus libero! Facilis tenetur ut dicta labore consequatur in delectus odit illo porro eius dolorem quos unde molestiae vel voluptates, incidunt, pariatur sit temporibus nobis tempora distinctio consequuntur blanditiis tempore. Impedit optio, beatae illo ab maiores nostrum pariatur quos ducimus, voluptatem consequatur, tenetur incidunt nemo exercitationem consectetur libero reprehenderit fugiat.
            </p>
            <ul>
              <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At aut animi distinctio veritatis est fugiat consequatur exercitationem quo, excepturi architecto dolorum, possimus voluptatum asperiores esse et rerum ex! Dicta veniam rem tempore! Et excepturi a ea similique nostrum reprehenderit rerum!
              </li>
              <li>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsum laborum voluptas fugit quam provident, dolore laboriosam, atque assumenda consectetur molestias minima facilis porro, neque sint officia exercitationem itaque ullam.
              </li>
              <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ex dolore nam impedit ab facilis aut nobis eligendi eius autem!
              </li>
              <li>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo sapiente impedit rerum, officiis et modi dolorum nobis incidunt, aperiam repellendus ea fugit iusto sint veniam, aut natus veritatis vero?
              </li>
              <li>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate accusamus earum eligendi magni aspernatur facere, impedit, quis incidunt a maxime repudiandae atque perspiciatis sunt. Voluptatum veritatis odio soluta possimus sunt!
              </li>
              <li>
             Lorem ipsum dolor sit amet.
              </li>
            </ul>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptatum nulla animi saepe est ipsa eveniet provident soluta quibusdam rerum.
            </p>
            <p>
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, quibusdam?
            </p>
            <p>
              <b>Disclaimer of Warranties:</b>
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus accusamus ad quaerat necessitatibus odit cum nihil dolorem debitis ab sunt, repudiandae, optio voluptates! Facilis nobis, a tempore possimus esse aliquid optio itaque nam consequatur distinctio dolorem sed laborum voluptatum deleniti nemo molestiae quod debitis ex, quam iure doloremque laboriosam. Molestias laborum assumenda maxime nobis eos vitae soluta eligendi, quaerat illum unde perspiciatis doloremque quia reprehenderit iure porro repellendus est sed dolorum quae beatae magni atque provident reiciendis amet. Ducimus sed deleniti aliquam repellat, fuga ullam! Exercitationem porro sit unde suscipit, doloribus voluptas blanditiis a commodi accusantium qui non ipsam iure voluptatum tenetur nesciunt saepe recusandae quas ea inventore labore molestiae! Nostrum iusto doloribus, deserunt fugit ipsa voluptatibus dolorum veniam magni. 
            </p>

            <h2 class="section-title">9. Limitations on Liability</h2>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptatem exercitationem molestiae ad voluptatibus quibusdam minima aut eius, vel tempora iste harum deleniti aspernatur? Natus molestiae magni, libero aliquid dolore assumenda. Maiores sed nobis perferendis laboriosam commodi dolore dignissimos recusandae, in inventore accusantium voluptate numquam ipsum minus, quibusdam nostrum iste fugiat aliquid voluptatum modi? Doloremque optio aut aperiam, quia ab eveniet neque. Eligendi sint eaque laboriosam eius, hic illo nam vero provident fuga assumenda quas vel ipsam excepturi architecto libero. Accusantium earum officia voluptas iure eveniet perferendis odit repellendus ea culpa tempora. Tempore ad consequuntur amet saepe, debitis nam et.
            </p>

            <h2 class="section-title">11. Choice of Law and Dispute Resolution</h2>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit a maiores repellendus eligendi odio provident est assumenda, laudantium laboriosam quidem, minima perferendis cumque repudiandae veniam mollitia quasi. Cum, maiores. Impedit necessitatibus, nulla fugiat quaerat tenetur rem dignissimos soluta, placeat reiciendis quod accusantium sit atque earum enim. Similique odio et ad nobis officia eaque distinctio culpa exercitationem sunt velit debitis nulla soluta iusto id tempore itaque, nostrum, quidem corporis molestias saepe praesentium architecto consequuntur vero! Voluptate impedit ea, culpa ab atque, non quas corporis sint error facere ut nesciunt cumque perspiciatis recusandae rem sunt officiis molestiae, consectetur explicabo mollitia excepturi quidem eius. Officia ab vitae quam modi, reprehenderit fugiat laborum est doloribus aut voluptatum minima, similique porro. Libero veniam illo suscipit voluptatibus asperiores aspernatur nemo explicabo consequuntur vel unde provident, molestiae ipsa praesentium tempora nulla ratione eveniet commodi corrupti soluta iusto similique magnam. Quis eos fugiat error aliquam, nobis asperiores architecto temporibus facilis enim porro dolorum deserunt omnis similique et voluptas, incidunt non quos eligendi ullam consequatur. Magnam totam aut, ipsam quasi odit excepturi officia corrupti suscipit error accusantium recusandae, laborum unde ducimus assumenda officiis, temporibus non. Animi soluta ullam nisi eius praesentium, debitis eum ducimus dicta cupiditate ad voluptas voluptatum!
            </p>

            <h2 class="section-title">12. General Legal Terms</h2>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam natus rem qui hic commodi minima eligendi provident nesciunt repellat distinctio iure quasi repudiandae excepturi culpa praesentium aliquam, harum nisi omnis. Enim similique illo dolores quisquam, quos officiis labore soluta? Consectetur quas error vitae blanditiis ipsum! Repellendus quidem tempore repellat voluptatibus.
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam blanditiis quibusdam recusandae? Esse aspernatur tenetur veniam? Provident doloremque, culpa aliquid sequi unde incidunt aliquam ducimus autem iste dolorum, quisquam cumque excepturi hic nulla beatae eligendi odit ullam! Praesentium perferendis tenetur vitae sapiente corporis ab a itaque dicta deserunt! Magni vero at, perferendis aliquam accusamus quo laboriosam qui eveniet illum?
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores omnis aliquam delectus, odit commodi fugit voluptatibus nesciunt itaque doloremque dicta. Voluptate, vero perspiciatis. Esse illum nam tenetur minima consequatur alias dolore quidem earum quam libero animi, eligendi delectus soluta temporibus.
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eos aspernatur odio ratione deleniti dolorem quaerat dicta sequi eius tempore quia voluptatum numquam illo veritatis, autem laudantium accusamus. Id fugit, voluptatibus perferendis impedit vero ratione dolor, fugiat nam quod corrupti ut? Excepturi quibusdam quidem provident, ullam explicabo ratione fugit aut quae voluptas illo distinctio velit omnis. Error quaerat illum, distinctio quibusdam doloremque repellat suscipit enim, exercitationem quam velit reiciendis incidunt culpa, fuga pariatur nobis blanditiis nostrum omnis quo adipisci consequuntur? Aliquid assumenda esse consequatur accusamus dicta laborum voluptas, praesentium, quos, deleniti excepturi alias. Reprehenderit ipsum iure eum, ab nobis reiciendis.
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas omnis quibusdam aliquam, ipsa tempora inventore atque et totam vitae magnam veniam aliquid ea eos sit unde quisquam aperiam illo eius assumenda saepe nulla eligendi corporis! Cupiditate assumenda velit optio, quos libero tenetur rerum perspiciatis doloremque quibusdam at cumque officia sapiente sint obcaecati exercitationem blanditiis, quae impedit possimus iste? Rem quaerat placeat provident, dolorem cupiditate adipisci eligendi tempore debitis mollitia. Sit.
            </p>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sint error dolorem at, nesciunt magni deleniti reiciendis voluptates aspernatur dicta ut, fuga ex, vel iste facere placeat harum officia consequuntur vero illo necessitatibus blanditiis officiis. Tempora dignissimos nobis ducimus tenetur eligendi. Exercitationem, asperiores incidunt. Laudantium, quam maiores dolor, ipsum beatae excepturi totam quisquam delectus voluptas odit id voluptatum minima velit veniam, explicabo in earum provident accusantium amet consequuntur perferendis vero unde. Soluta molestias tenetur quia, perferendis est dolores veniam corrupti reprehenderit sapiente temporibus hic quod dolorem! Provident, ipsam! Optio, vel? Aliquam minima suscipit atque hic dolorem doloremque beatae at consectetur.
            </p>
            <p>
              Version 1.0, 2020
            </p>

          </div>
        </div>
      </div>
    </div>
    <div ng-if="UserInfo.approvedTermsAndConditions || !UserInfo.isAuthenticated">
        <ncy-breadcrumb></ncy-breadcrumb>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form name="tandc" ng-submit="approveTandC()">
                    <div style="text-align:center;" ng-if="settings.Authentication.RequireTermsAndConditions && !UserInfo.approvedTermsAndConditions && UserInfo.isAuthenticated">

                      <button style="margin:20px;" class="btn btn-link"><a href='/register'>Agree to Terms and Conditions</a></button>
                    
                    <!--   <button style="margin:20px;" class="btn btn-primary" <a onclick="window.location.href='/register'">Agree to Terms and Conditions</a></button>-->  
                    </div>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>