<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%=err.message%></h4>
      <% if(process.env.NODE_ENV !== "production") { %> 
      
         <!--<img src="https://image.freepik.com/free-photo/oops-sign-wooden-cut-circle_254268-866.jpg" 
        alt="error" width="500" height="333">-->
    
       <% } %> 
    </div>
  </div>
</div>
