<% layout('layouts/boilerplate')%>

<section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center">
              <h1>Login</h1>
              <p class="text-h3">login to YelpCamp </p>
            </div>
          </div>
        <form action="/login" method="POST" class="validated-form" novalidate autocomplete="off">
            <div class="mb-3">
          <div class="row align-items-center">
            <div class="col mt-4">
              <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
            <div class="valid-feedback">
                Looks good!
            </div> 
           </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
              <div class="valid-feedback">
                Looks good!
            </div>
           </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
          </div>
          <a href="/register" class="text-center new-account mt-4">Create an account</a>
        </div>
      </form>
      </div>
    </div>
  </section>



<!--old style login form-->
<!--<h1>Login</h1>
<form action="/login" method="POST" class="validated-form" novalidate autocomplete="off">
    <div class="mb-3">
        <label class="form-label" for="username">User-Name:</label>
        <input class="form-control" type="text" id="username" name="username" min="5" max="25" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">Login</button>
</form>-->